* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}

.background.on{
    z-index: 1;
    position: absolute;
    height: 5000px;
    width: 765px;
    background-color: white;
}