/* TITLE */

#main-title{
    text-align: center;
    margin-left: 13px;
    margin-top: 138px;
    margin-bottom: 71px;
}

.main-subtitle{
    font-size: 18px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-medium);
    color: var(--green2-color-05cb95);
    margin-bottom: 10px;
}

.main-title{
    font-size: 56px;
    font-family: var(--font-family-quicksand);
    font-weight: var(--font-weight-bold);
    color: var(--gray5-color-373938);
    margin-bottom: 10px;
}

.main-desc {
    font-size: 18px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--gray2-color-949494);
    line-height: 22px;
}

/* CARDS */


.card.card-selected{
    width: 279px;
    height: 400px;
    outline: 3px solid var(--green2-color-05cb95);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 38px 26px 21px 26px;
}

#main-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    margin-top: 70px;
}

.card{
    width: 279px;
    height: 400px;
    border: 1px solid var(--gray1-color-d5d5d5);
    border-radius: 15px;
    padding: 38px 26px 21px 26px;
    margin-bottom: 51px;
    background-color: var(--white1-color-ffffff);
}


.card.card-selected .card-footer button{
    background-color: var(--green2-color-05cb95);
    color: var(--white1-color-ffffff);
}

.card h1{
    font-size: 24px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-bold);
    color: var(--dark-color-292f31);
}

.card-title{
    display: flex;
    align-items: center;
}

.card-title h1{
    margin-top: 4px;
    cursor: context-menu;
}

.card-title svg{
    margin-right: 22px;
}

.margin-top-5px{
    margin-top: 5px;
}

.card-desc{
    margin-top: 20px;
}

.card-desc h2{
    font-size: 14px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--gray3-color-757575);
    line-height: 18px;
    cursor: context-menu;
}

.margin-top-15px{
    margin-top: 15px;
}

.card-price{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.card-price h3{
    font-size: 14px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--gray2-color-949494);
    text-decoration: line-through;
    cursor: context-menu;
}

.card-price div h1{
    font-size: 32px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-bold);
    color: var(--dark-color-292f31);
    cursor: context-menu;
}

.card-price div h2{
    font-size: 13px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--dark-color-292f31);
    margin-bottom: 5px;
    margin-left: 7px;
    cursor: context-menu;
}

.card-price div{
    display: flex;
    align-items: flex-end;
}

.card-footer{
    margin-top: 55px;
}

.card-footer p{
    font-size: 15px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--gray4-color-575757);
    margin-top: 16px;
    cursor: context-menu;
}

.card-footer button{
    font-size: 15px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-medium);
    color: var(--gray4-color-575757);
    padding: 14px 75px 14px 76px;
    border: 1px solid var(--white2-color-f1f1f1);
    border-radius: 30px;
    background-color: var(--white2-color-f1f1f1);
    cursor: pointer;
    margin-left: 5px;
    transition: all;
}

.margin-left-8px{
    margin-left: 8px;
}

.margin-left-16px{
    margin-left: 16px;
}

.margin-left-50px{
    margin-left: 50px;
}

/* RECOMENDADO */

.container-recomend{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recomended{
    display: flex;
    align-items: center;
    background-color: var(--green2-color-05cb95);
    border-radius: 15px 15px 0px 0px;
    outline: 8px solid var(--green2-color-05cb95);
    width: 280px;
    height: 56px;
    z-index: -1;
    top: 484px;
    position: absolute;
}

.recomended h1{
    margin-left: 78px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--white2-color-f1f1f1);
    cursor: context-menu;
}

.recomended svg{
    margin-left: 8px;
    margin-bottom: 13px;
}

.card.recomended-card{
    width: 280px;
    height: 400px;
    outline: 8px solid var(--green2-color-05cb95);
    border-radius: 15px;
    border-color: var(--green2-color-05cb95);
    padding: 38px 26px 21px 26px;
}

/* MAIN INFOS */

#main-infos{
    width: 1170px;
    height: 127px;
    background-color: var(--white2-color-f1f1f1);
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 100px;
    padding-left: 25px;
}

#main-infos h1{
    font-size: 22px;
    font-family: var(--font-family-quicksand);
    font-weight: var(--font-weight-bold);
    color: var(--dark-color-292f31);
    margin-bottom: 3px;
    cursor: context-menu;
}

#main-infos h2{
    font-size: 14px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-medium);
    color: var(--gray2-color-949494);
    margin-top: 5px;
    cursor: context-menu;
}

.main-infos-circle{
    width: 30px;
    height: 30px;
    background-color: var(--gray1-color-d5d5d5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.main-infos-circle p{
    font-size: 16px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-medium);
    color: var(--gray4-color-575757);
    cursor: context-menu;
}

.main-infos{
    display: flex;
    align-items: center;
    margin-right: 68px;
}

.margin-left-46px{
    margin-left: 41px;
}

.main-infos h3{
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-bold);
    color: var(--gray5-color-373938);
    cursor: context-menu;
}

.main-infos h4{
    font-size: 15px;
    line-height: 22px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-normal);
    color: var(--gray2-color-949494);
    cursor: context-menu;
}

.main-infos-container{
    display: flex;
    flex-direction: row;
}