#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
    height: 97px;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}

/* INFOS */

.navbar-infos{
    display: flex;
    margin-bottom: 5px;
}

.navbar-infos a{
    text-decoration: none;
    color: var(--dark-color-292f31);
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
}

.selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 90px;
}

.selected span{
    padding-top: 8.11px;
    color: var(--green1-color-EFFBF7);
}

.navbar-infos-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 16px;
    width: 100px;
    height: 92px;
    border: 1px solid #05cb9500;
    border-radius: 0px 0px 15px 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.navbar-infos-options svg{
    stroke: #FFF;
}

.navbar-infos-options:hover svg, .navbar-infos-options:hover span{
    stroke: #05cb95;
    color: #05cb95;
}

.navbar-infos-options.selected:hover svg, .navbar-infos-options.selected:hover span{
    stroke: #fff;
    color: #fff;
}

.navbar-infos-options span{
    padding-top: 8.11px;
    transform: all .2s;
}

.navbar-infos-options.selected{
    width: 100px;
    height: 92px;
    cursor: pointer;
}

.navbar-infos-options a{
    margin-bottom: 3px;
    margin-top: 5px;
}

.navbar-infos-options svg{
    display: flex;
    margin-top: 8px;
}

.navbar-infos-options.selected svg{
    display: flex;
    margin-top: 8px;
}

.navbar-infos-options.selected{
    background-color: var(--green2-color-05cb95);
    border-radius: 0px 0px 15px 15px;
}

.navbar-infos-options.selected a{
    color: var(--green1-color-EFFBF7);
}

/* LOGO */

#navbar img{
    margin-top: 20px;
    cursor: pointer;
    margin-right: 27px;
}

.navbar-logo-mobile{
    display: none;
}

/* BUTTONS */

.navbar-buttons{
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button-1{
    margin-left: 10px;
    color: #05cb95;
    background-color: transparent;
    border: 2px solid #05CB95;
    border-radius: 30px;
    cursor: pointer;
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    transition: all 0.2s;
    width: 118px;
    height: 45px;
}

.navbar-button-2{
    margin-right: 6px;
    color: #292F31;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.navbar-button-2 svg{
    stroke: #292F31;
    margin: 0 10px 0 0;
    transition: all .2s;
}

.navbar-button-2:hover svg{
    stroke: #05cb95;
}

.menu-hamb{
    display: none;
}