/* RESPONSIVO */

@media(max-width: 1175px){
    #main-card-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .recomended{
        top: 1430px;
    }

    .recomended h1{
        margin-left: 80px;
    }

    .card.recomended-card{
        margin-top: 42px;
    }

    #main-infos{
        width: 100%;
        max-width: 350px;
        height: 330px;
        display: flex;
        flex-direction: column;
        margin-left: 145px;
    }

    #main-infos h2{
        font-size: 13px;
    }

    .main-infos-title{
        margin-right: 20px;
        margin-top: 22px;
    }

    .margin-left-46px{
        margin-left: 0px;
    }

    .main-infos h3{
        font-size: 16px;
    }

    .main-infos{
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .main-infos-container{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-top: 20px;
    }

    /* .section-resources{
        margin-left: 110px;
    } */

    .section-dark{
        width: 328px;
    }

    .section-light{
        width: 328px;
    }

    .footer-container-text-buttons{
        margin-left: 32px;
    }

    .footer-logo{
        margin-right: 25px;
    }

    .footer-infos-redes{
        display: none;
    }

    .footer-infos-redes.none{
        display: flex;
        flex-direction: column;
        margin-top: 42px;
        margin-left: 20px;
    }

    .footer-infos{
        flex-direction: column;
        margin-left: 0px;
    }

    .margin-left-127px{
        margin-left: 70px;
    }

    .footer-infos-menu{
        margin-left: 22px;
    }

    .footer-copy{
        margin-left: 33px;
    }
}

@media(max-width: 799px){
    .navbar-logo{
        display: none;
    }

    .navbar-logo-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media(max-width: 765px){

    .navbar-button-1{
        margin: 10px 0 0 0;
    }

    .navbar-logo-mobile{
        margin-left: 16px;
        margin-top: 28px;
        margin-bottom: 0px;
        z-index: 6;
        position: absolute;
        left: 14px;
        top: 0px;
    }

    #menu-container{
        margin-right: 17px;
    }

    .navbar-logo-mobile.on{
        margin-left: 15px;
        margin-top: 28px;
        margin-bottom: 0px;
        z-index: 6;
        position: fixed;
        left: 15px;
    }

    #navbar.on{
        display: flex;
        flex-direction: column;
    }

    .navbar-infos{
        display: none;
    }

    .navbar-infos.on{
        display: flex;
        flex-direction: column;
        z-index: 6;
        margin-top: 34px;
        position: fixed;
    }

    .navbar-infos-options.selected{
        background-color: var(--green2-color-05cb95);
        border-radius: 15px 15px 15px 15px;
    }

    .navbar-buttons{
        display: none;
    }

    .navbar-buttons.on{
        display: flex;
        flex-direction: column;
        z-index: 6;
        position: fixed;
        bottom: 50px;
        margin-left: 5px;
    }

    .menu-hamb{
        display: flex;
        position: absolute;
        top: 10px;
        right: 0px;
        margin-left: 10px;
    }

    .menu-hamb svg{
        margin-top: 60px;
        margin-right: 17px;
    }

    .menu-hamb.on svg{
        height: 19px;
        width: 24px;
        z-index: 10;
        margin-top: 70px;
    }

    .menu-hamb.on{
        display: flex;
        position: fixed;
        top: 0;
        right: 3px;
        background-color: white;
        height: 5000px;
        width: 756px;
        align-items: flex-start;
        justify-content: flex-end;
        z-index: 5;
    }
}

@media(max-width: 720px){
    .navbar-infos{
        margin-right: 10px;
    } 
    #main{
        margin-right: 10px;
    }
    #section{
        margin-right: 10px;
    }
    #footer{
        margin-right: 10px;
    }
}

@media(max-width: 617px){
    .recomended{
        top: 1450px;
    }
}

@media(max-width: 603px){
    #main-title{
        transform: scale(0.9);
        margin-bottom: 0px;
        margin-top: 70px;
    }

    .menu-hamb.on{
        position: fixed;
        right: 4px;
    }

    .recomended{
        top: 1325px;
    }

    #section{
        margin-left: 15px;
        transform: scale(0.9);
    }

    .main-infos{
        margin-bottom: 0px;
    }

    #main-card-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    #main-infos{
        margin-left: 20px;
    }

    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #section{
        margin-bottom: 20px;
    }

    #footer {
        transform: scale(0.9);
        margin-top: 0px;
    }

    .footer-fixed{
        transform: scale(0.7);
        right: 5px;
    }

}

@media(max-width: 602px){
    .menu-hamb.on{
        position: fixed;
        right: 3px;
    }
}    

@media(max-width: 499px){

    .footer-copy{
        font-size: 12px;
    }
}

@media(max-width: 492px){
    #section h1{
        font-size: 25px;
    }

    .section-dark{
        width: 315px;
    }

    .section-light{
        width: 315px;
    }
}

@media(max-width: 477px){
    .recomended{
        top: 1290px;
    }

    .main-title{
        font-size: 28px;
    }

    .main-desc{
        font-size: 15px;
    }


    .section-resources p{
        font-size: 15px;
    }
}

@media(max-width: 460px){
    #main-title{
        position: absolute;
        top: 95px;
    }

    #main-card-grid{
        transform: scale(0.8);
        margin-top: 70px;
    }

    #footer{
        transform: scale(0.8);
    }

    .recomended{
        top: 895px;
    }

    #main-infos{
        position: absolute;
        top: 1800px;
        transform: scale(0.9);
        margin-bottom: 10px;
    }

    #section {
        margin-top: 150px;
    }

    .footer-container-text-buttons{
        transform: scale(0.9);
    }

    .footer-logo{
        transform: scale(0.9);
    }
}

@media(max-width: 387px){
    .footer-copy{
        font-size:11px;
    }
}

@media(max-width: 360px){
    .navbar-infos.on{
        margin-left: 25px;
    }
}
